<h1>Listing medicines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medicines.each do |medicine| %>
  <tr>
    <td><%= medicine.name %></td>
    <td><%= medicine.description %></td>
    <td><%= link_to 'Show', medicine %></td>
    <td><%= link_to 'Edit', edit_medicine_path(medicine) %></td>
    <td><%= link_to 'Destroy', medicine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medicine', new_medicine_path %>
