<h1>Listing bednets_and_illinesses</h1>

<table>
  <tr>
    <th>County</th>
    <th>Under net</th>
    <th>Fever or malaria</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bednets_and_illinesses.each do |bednets_and_illiness| %>
  <tr>
    <td><%= bednets_and_illiness.county %></td>
    <td><%= bednets_and_illiness.under_net %></td>
    <td><%= bednets_and_illiness.fever_or_malaria %></td>
    <td><%= bednets_and_illiness.latitude %></td>
    <td><%= bednets_and_illiness.longitude %></td>
    <td><%= link_to 'Show', bednets_and_illiness %></td>
    <td><%= link_to 'Edit', edit_bednets_and_illiness_path(bednets_and_illiness) %></td>
    <td><%= link_to 'Destroy', bednets_and_illiness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bednets and illiness', new_bednets_and_illiness_path %>
