<%- model_class = BednetsAndIlliness -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:county) %></th>
      <th><%= model_class.human_attribute_name(:under_net) %></th>
      <th><%= model_class.human_attribute_name(:fever_or_malaria) %></th>
    </tr>
  </thead>
  <tbody>
    <% @bednets_and_illinesses.each do |bednets_and_illiness| %>
      <tr>
        <td><%= link_to bednets_and_illiness.id, bednets_and_illiness_path(bednets_and_illiness) %></td>
        <td><%= bednets_and_illiness.county %></td>
        <td><%= bednets_and_illiness.under_net %></td>
        <td><%= bednets_and_illiness.fever_or_malaria %></td>
      </tr>
    <% end %>
  </tbody>
</table><br />

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bednets_and_illiness_path,
            :class => 'btn btn-primary' %>
