<%- model_class = BednetsAndIlliness -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table id="bednets_and_illinesses" class="display" data-source="<%= bednets_and_illinesses_url(format: "json") %>" >
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:county) %></th>
      <th><%= model_class.human_attribute_name(:under_net) %></th>
      <th><%= model_class.human_attribute_name(:fever_or_malaria) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table><br />

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bednets_and_illiness_path,
            :class => 'btn btn-primary' %>
