<%- model_class = HealthFacility -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table id="health_facilities" class="display" >
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:province) %></th>
      <th><%= model_class.human_attribute_name(:district) %></th>
      <th><%= model_class.human_attribute_name(:division) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:sub_location) %></th>
      <th><%= model_class.human_attribute_name(:srm) %></th>
      <th><%= model_class.human_attribute_name(:agency) %></th>
      <th><%= "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @health_facilities.each do |health_facility| %>
      <tr>
        <td><%= link_to health_facility.name, health_facility_path(health_facility) %></td>
        <td><%= health_facility.province %></td>
        <td><%= health_facility.district %></td>
        <td><%= health_facility.division %></td>
        <td><%= health_facility.location %></td>
        <td><%= health_facility.sub_location %></td>
        <td><%= health_facility.srm %></td>
        <td><%= health_facility.agency %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_health_facility_path(health_facility), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table><br />

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_health_facility_path,
            :class => 'btn btn-primary' %>
