<%- model_class = HealthFacility -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table id="health_facilities" class="display" data-source="<%= health_facilities_url(format: "json") %>" >
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:province) %></th>
      <th><%= model_class.human_attribute_name(:district) %></th>
      <th><%= model_class.human_attribute_name(:division) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:sub_location) %></th>
      <th><%= model_class.human_attribute_name(:srm) %></th>
      <th><%= model_class.human_attribute_name(:agency) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table><br />

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_health_facility_path,
            :class => 'btn btn-primary' %>
