<%- model_class = HealthFacility -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><%= link_to 'My Health Facility', health_facility_path(HealthFacility.find_by_user_id(current_user)) %></li>
      <li><%= link_to 'My Patients', patients_path %></li>
      <li><%= link_to 'Analytics' %></li>
    </ul>
  </div>
</div>

<table class="table table-striped table-condensed">
  <thead>
    <th style="width: 100px;"></th>
    <th style="width: 150px;"></th>
    <th style="width: 100px;"></th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:name) %>:</strong></td><td><%= @health_facility.name %></td>
      <td><strong><%= model_class.human_attribute_name(:hmis) %>:</strong></td><td><%= @health_facility.hmis %></td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:province) %>:</strong></td><td><%= @health_facility.province %></td>
      <td><strong><%= model_class.human_attribute_name(:district) %>:</strong></td><td><%= @health_facility.district %></td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:division) %>:</strong></td><td><%= @health_facility.division %></td>
      <td><strong><%= model_class.human_attribute_name(:location) %>:</strong></td><td><%= @health_facility.location %></td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:sub_location) %>:</strong></td><td><%= @health_facility.sub_location %></td>
      <td><strong><%= model_class.human_attribute_name(:srm) %>:</strong></td><td><%= @health_facility.srm %></td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:facility_type) %>:</strong></td><td><%= @health_facility.facility_type %></td>
      <td><strong><%= model_class.human_attribute_name(:agency) %>:</strong></td><td><%= @health_facility.agency %></td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></td><td><%= @health_facility.latitude %></td>
      <td><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></td><td><%= @health_facility.longitude %></td>
    </tr>
  </tbody>
</table>


<%= link_to t('.back', :default => t("helpers.links.back")),
            :back, :class => 'btn'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_health_facility_path(@health_facility), :class => 'btn btn-primary' %>
