<tr>
  <td><%= prescription.name unless prescription.name.nil? %></td>
  <td>
        <%= link_to 'Show', prescription, :class => 'btn btn-mini' %>
        <%= link_to 'Edit', "#editPrescriptionModal#{prescription.id}", :'data-toggle'=>"modal", :class => 'btn btn-mini' %>
        <%= link_to 'Destroy', prescription,
                    :method => :delete,
                    :class => "btn btn-mini btn-danger", 
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) %>
      </td>
</tr>

<%= render "prescriptions/edit", :prescription => prescription%>