<%= simple_form_for(@prescription_line) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :quantity %>
    <%= f.input :frequency %>
    <%= f.input :time %>
    <%= f.input :period_no %>
    <%= f.input :period %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
