<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @disease.name %>
</p>

<p>
  <b>Description:</b>
  <div class="well">
  	<%= @disease.description.html_safe %>
  </div>
</p>

<div class="well">
	<%= link_to 'Edit', edit_disease_path(@disease) %> |
	<%= link_to 'Back', diseases_path %>
</div>