<%= simple_form_for @patient, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :names %>
  <%= f.input :identification_number %>
  <%= f.input :gender %>
  <%= f.input :address %>
  <%= f.input :town %>
  <%= f.input :location %>
  <%= f.input :phone %>
  <%= f.input :country %>
  <%= f.input :occupation %>
  <%= f.input :civil_status %>
  <%= f.input :date_of_birth %>
  <%= f.input :health_facility_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patients_path, :class => 'btn' %>
  </div>
<% end %>
