<%= simple_form_for @patient, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :names %>
  <%= f.input :identification_number %>
  <%= f.input :gender, :prompt => "Select gender", :collection => [["Male","M"], ["Female","F"]] %>
  <%= f.input :address %>
  <%= f.input :town %>
  <%= f.input :location %>
  <%= f.input :phone %>
  <%= f.input :country %>
  <%= f.input :occupation %>
  <%= f.input :civil_status, :prompt => "Select status", :collection => [["Single","S"], ["Married","M"], ["Widowed","W"]] %>

  <div class="input-append date control-group string optional" id="dob" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
    <label for="patient_date_of_birth" class="string optional control-label">Date of birth</label>
    <div class="controls">
      <input class="span2 string optional" value="<%= @patient.date_of_birth %>" size="16" type="text" name="patient[date_of_birth]" id="patient_date_of_birth" data-behaviour='datepicker'>
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>

  <% if current_user.has_role? :user %>
    <%= f.input :health_facility_id, :prompt => "Select health facility", :collection => [[current_user.health_facility.name, current_user.health_facility.id]] %>
  <% elsif current_user.has_role? :admin  %>
    <%= f.input :health_facility_id, :prompt => "Select health facility", :collection => HealthFacility.all.collect{|c| [c.name, c.id]} %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patients_path, :class => 'btn' %>
  </div>
<% end %>

<script type="text/javascript">
  $("[data-behaviour~='datepicker']").datepicker({
    "format": "yyyy-mm-dd",
    "weekStart": 1,
    "autoclose": true
});
</script>
