<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<h3>Import Patients</h3>

<%= form_tag import_patients_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>


<%= will_paginate @patients, :renderer => BootstrapPagination::Rails %>
<table class="table table-striped table-bordered table-hover">
  <thead class="well">
    <tr>
      <th>Names</th>
      <th>ID No.</th>
      <th>Gender</th>
      <th>Town</th>
      <th>Location</th>
      <th>Phone</th>
      <th>Country</th>
      <th>Occupation</th>
      <th>DOB</th>
      <th>Health Facility</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.names, patient_path(patient) %></td>
        <td><%= patient.identification_number %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.town %></td>
        <td><%= patient.location %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.country %></td>
        <td><%= patient.occupation %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.health_facility.name unless patient.health_facility.nil? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_patient_path(patient), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      patient_path(patient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @patients, :renderer => BootstrapPagination::Rails %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_patient_path,
            :class => 'btn btn-primary' %>
